<section class="block">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam nemo
      animi officia inventore facere iure beatae esse, velit deserunt quis?
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <div class="container">
        <header class="card__header">Card Title</header>
        <div class="card__body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quis
          perferendis eligendi voluptates voluptatem accusantium aut expedita
          doloremque tenetur suscipit.
        </div>
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed--left">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam nemo
        animi officia inventore facere iure beatae esse, velit deserunt quis?
      </p>
    </header>
  </div>
</section>
